{{template "base"  . }}


{{define "content"}}
        
    <div class="container" >
        
        <div class="row">

            <div class="col">
                <h1>This is an about page</h1>
            </div>

        </div>
    
    </div>

{{end}}