{{define "base"}}
<!-- this is a base layout for our template -->
    <!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>Document</title>


        {{block "css" . }}
        {{end}}
    </head>


    <body>
    
        {{block "content" . }}


        {{end}}


        {{block "js" . }}
        {{end}}


    </body>
    </html>
{{end}}    