{{template "base" . }}

{{define "content"}}
    
    <div class="container">
        <div class="row">

            <div class="col">
                
                <h1>This is a home page</h1>
                <p>This is some text</p>
        
            </div>

        </div>
    </div>

{{end}}
